@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Oi&display=swap');
@import "tailwindcss";

:root{
  background: rgb(24, 25, 38);
}
*{
  font-family: "Delius Swash Caps", cursive;
}
.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
  background:linear-gradient(90deg, rgb(45, 45, 244),rgb(200, 227, 200));
  color:transparent;
  background-clip: text;
}